@if (loading$ | async){
<app-loading></app-loading>
}
@else{
<h2 class="mb-4 text-center">Criar tarefa</h2>

<form [formGroup]="managerForm" (ngSubmit)="onSubmit()" class="container-sm my-4 p-0">
  <div class="row g-3">
    @for (field of formFields; track field.name) {
      @if (field.label === 'Programador') {
        <div class="col-12">
          <ion-item fill="outline">
            <ion-select formControlName="idProgramador" label="{{ field.label }}" placeholder="Selecione um programador">
              @for (programador of programadores; track programador.idUser) {
                <ion-select-option [value]="programador.idUser">
                  {{ programador.nome }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </div>
      }
      @else if (field.label === "Tipo tarefa") {
        <div class="col-12">
          <ion-item fill="outline">
            <ion-select formControlName="idTipoTarefa" label="{{ field.label }}" placeholder="Selecione um tipo de tarefa">
              @for (tipoTarefa of tipoTarefas; track tipoTarefa.nome) {
                <ion-select-option [value]="tipoTarefa.idTipoTarefa">
                  {{ tipoTarefa.nome }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </div>
      }
      @else if (field.label === "Estado") {
        <div class="col-12">
          <ion-item fill="outline">
            <ion-select formControlName="estadoTarefa" label="{{ field.label }}" placeholder="Selecione um estado de tarefa">
              @for (estado of estadoTarefas; track estado) {
                <ion-select-option [value]="estado.estadoTarefa">
                  {{ estado.estadoTarefa }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </div>
      }
      @else {
        <div class="col-12">
          <ion-item fill="outline" class="w-100">
            <ion-input
              [label]="field.label"
              [type]="field.type"
              [formControlName]="field.name">
            </ion-input>
          </ion-item>

          @if (managerForm.get(field.name)?.invalid && managerForm.get(field.name)?.touched) {
          <div class="text-danger small mt-1 ps-3">
            @if (managerForm.get(field.name)?.errors?.['required']) {
              <span>{{ field.label }} é obrigatório.</span>
            }
          </div>
          
          }
        </div>
      }
    }

    

    <div class="col-12 mt-4">
      <ion-button type="submit" expand="block" size="large" [disabled]="managerForm.invalid">
        Criar tarefa
      </ion-button>
    </div>
  </div>
</form>
}