<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          @if (userNome && userEmail && userEmpresa && userRole){
          <ion-list-header>{{userNome}}</ion-list-header>
          <ion-note class="d-block mb-2">{{ userEmail }}</ion-note>
          <ion-note>
            {{ userEmpresa }}
            <ion-note>
              Cargo: {{ userRole }}
            </ion-note>
          </ion-note>
          }

          @if(!userIsAuth){
            @for (p of loginPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            }
          }
          @else{
            @if(userRole == "Programador"){
              @for (p of programadorPages; track p; let i = $index) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                  routerLinkActive="selected">
                  <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
              }
            }
            @else if(userRole == "Gestor"){
              @for (p of gestorPages; track p; let i = $index) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                  routerLinkActive="selected">
                  <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
              }
            }
            @else if(userRole == "Dono"){
              @for (p of donoPages; track p; let i = $index) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                  routerLinkActive="selected">
                  <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
              }
            }
              
            <ion-button (click)="logOut()" class="m-2">
              <ion-icon name="logOut" slot="start" aria-hidden="true" [ios]="'log-out' + '-outline'" [md]="'log-out' + '-sharp'"></ion-icon>
              LogOut
            </ion-button>
          }
        </ion-list>
      </ion-content>
      @if (userIsAuth) {
        <ion-footer class="ion-no-border menu-footer mt-3">
          <ion-toolbar class="transparent-toolbar">
            <div class="footer-content">
              <ion-img [src]="logo" [alt]="logoAlt" class="app-logo"></ion-img>
              
              <p class="copyright-text">
                Copyright &copy; {{currentYear}} ITask.<br>
                Todos os direitos reservados.
              </p>
            </div>
          </ion-toolbar>
        </ion-footer>
      }
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>