<ion-content [fullscreen]="false" class="ion-padding">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      @for (action of actions; track action) {
      <ion-fab-button (click)="handleAction(action.text)" [title]="action.text">
        <ion-icon [ios]="action.icon + '-outline'" [md]="action.icon + '-sharp'">{{ action.text }}</ion-icon>
      </ion-fab-button>
      }
    </ion-fab-list>
  </ion-fab>

  <div>
    @if (actualPage === "Criar programador") {
      <app-gestor-criar-programador></app-gestor-criar-programador>
    }
    @if (actualPage === "Editar programador") {
      <app-gestor-editar-programador></app-gestor-editar-programador>
    }
    @if (actualPage === "Eliminar programador"){
      <app-gestor-eliminar-programador></app-gestor-eliminar-programador>
    }
  </div>
</ion-content>