@if (loading$ | async){
  <app-loading></app-loading>
}
@else{
<h2 class="mb-4 text-center">Eliminar Gestor</h2>
<ion-item>
  <ion-input
    placeholder="Pesquisar por nome ou email..."
    [(ngModel)]="searchTerm">
  </ion-input>
</ion-item>
@for (item of filteredUsers; track item) {
  <ion-card>
    <ion-card-content>

      <ion-item lines="none">
        <ion-label>
          <h2 class="fw-bold">{{ item.nome }}</h2>
          <p>{{ item.email }}</p>
          <p>Departamento: {{ item.departamento }}</p>
        </ion-label>
      </ion-item>

      <div class="ion-text-end mt-2">
        <ion-button size="small" color="danger" (click)="setOpen(item)">
          Eliminar
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
}

  <ion-modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Eliminar Gestor</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Fechar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="confirm()">Eliminar</ion-button>
          </ion-buttons>        
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        <div class="ion-padding-bottom">
          @if (userToDelete){
          <ion-list>
              <ion-item>
                <ion-label>Ao eliminar este gestor, todos os programadores e as tarefas atribuídas a ele serão removidas. Tem a certeza que pretende continuar?</ion-label>
              </ion-item>
              <ion-item>
                <ion-input label="ID: " placeholder="{{userToDelete.idUser}}" disabled="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Email: " placeholder="{{userToDelete.email}}" disabled="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Nome: " placeholder="{{userToDelete.nome}}" disabled="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Departamento: " placeholder="{{userToDelete.departamento}}" disabled="true"></ion-input>
              </ion-item>
          </ion-list>
          }
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
}