@if (loading$ | async) {
  <app-loading></app-loading>
}
@else {

  <ion-button [disabled]="btnIsDisabled" (click)="voltarBtn()" size="medium" class="mb-3">
    Voltar
  </ion-button>

  @if (isViewingProgramadores) {

    @for (item of programadores; track item) {
      <ion-card>
        <ion-card-content>

          <ion-item lines="none">
            <ion-label>
              <h2 class="fw-bold">{{ item.nome }}</h2>
              <p>{{ item.email }}</p>
              <p>Nível: {{ item.nivelExperiencia }}</p>
            </ion-label>
          </ion-item>

          <div class="ion-text-end mt-2">
            <ion-button size="small" color="danger" (click)="resetarPassword(item.idUser)">
              Resetar password
            </ion-button>
          </div>

        </ion-card-content>
      </ion-card>
    }

  }
  @else {

    @for (item of gestores; track item.gestor.idUser) {

      <ion-card>
        <ion-card-content>

          <ion-item lines="none">
            <ion-label>
              <h2 class="fw-bold">{{ item.gestor.nome }}</h2>
              <p>{{ item.gestor.email }}</p>
              <p>Departamento: {{ item.gestor.departamento }}</p>
            </ion-label>
          </ion-item>

          <div class="ion-text-end mt-2">
            <ion-button size="small" (click)="setOpen(item)" [disabled]="item.programadores.length === 0">
              Ver programadores ({{ item.programadores.length }})
            </ion-button>
          </div>

        </ion-card-content>
      </ion-card>

    }

  }
}
