<ion-content [fullscreen]="false" class="ion-padding">
  <div class="login-container">
    <ion-card class="shadow-lg border-0 rounded-4">

      <ion-card-header class="ion-text-center py-5">
        <ion-card-title class="fw-bolder fs-2">Acesso ao Sistema</ion-card-title>
      </ion-card-header>

      <ion-card-content class="px-3 px-md-4 pb-4">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
          <ion-list lines="" class="ion-no-padding">

            <ion-item fill="outline" class="mb-3">
              <ion-input
                [(ngModel)]="credentials.email"
                name="email"
                label="Email"
                labelPlacement="stacked"
                placeholder="seu.email@empresa.com"
                type="email"
                required
                #emailInput="ngModel"
              ></ion-input>
            </ion-item>

            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger small mb-3 mt-1 ps-2">
              <div *ngIf="emailInput.errors?.['required']">O email é obrigatório.</div>
              <div *ngIf="emailInput.errors?.['email']">Formato inválido.</div>
            </div>

            <ion-item fill="outline" class="mb-3">
              <ion-input
                [(ngModel)]="credentials.password"
                name="password"
                label="Senha"
                labelPlacement="stacked"
                type="password"
                placeholder="********"
                required
                #passwordInput="ngModel"
              >
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger small mb-3 mt-1 ps-2">
              A senha é obrigatória.
            </div>

          </ion-list>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="!loginForm.valid"
            size="large"
            class="btn fw-bold text-uppercase rounded-3 py-2 mt-4"
          >
            ACESSAR
          </ion-button>

          <ion-label *ngIf="loginError" class="ion-text-center text-danger mt-2 d-block">
            {{ loginError }}
          </ion-label>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
