<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-content>
      <ion-list lines="inset">
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" placeholder="example@example.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Password" labelPlacement="stacked" value="">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button>Entrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>