<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->

  @if(folder === "login"){
    <app-login></app-login>
  }
  @else if(folder === "dono gestor"){
    <app-dono-gestor></app-dono-gestor>
  }
  @else if(folder === "dono programador"){
    <app-dono-programador></app-dono-programador>
  }
  @else if (folder === "dono tarefas") {
    <app-dono-tarefas></app-dono-tarefas>
  }
  @else if(folder === "gestor programador"){
    <app-gestor-programador></app-gestor-programador>
  }
  @else if (folder === "gestor tarefas") {
    <app-gestor-tarefas></app-gestor-tarefas>
  }
  @else if (folder === "programador tarefas") {
    <app-programador-tarefas></app-programador-tarefas>
  }
</ion-content>
