<ion-content [fullscreen]="false" class="ion-padding">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      @for (action of actionsDireita; track action) {
      <ion-fab-button (click)="handleAction(action.text)" [title]="action.text">
        <ion-icon [ios]="action.icon + '-outline'" [md]="action.icon + '-sharp'">{{ action.text }}</ion-icon>
      </ion-fab-button>
      }
    </ion-fab-list>
    <ion-fab-list side="top">
      @for (action of actionsCima; track action) {
      <ion-fab-button (click)="handleAction(action.text)" [title]="action.text">
        <ion-icon [ios]="action.icon + '-outline'" [md]="action.icon + '-sharp'">{{ action.text }}</ion-icon>
      </ion-fab-button>
      }
    </ion-fab-list>
  </ion-fab>

  <div>
    @if (actualPage === "Criar tipo tarefa") {
      <app-gestor-criar-tipo-tarefa></app-gestor-criar-tipo-tarefa>
    }
    @if (actualPage === "Editar tipo tarefa"){
      <app-gestor-editar-tipo-tarefa></app-gestor-editar-tipo-tarefa>
    }
    @if (actualPage === "Eliminar tipo tarefa") {
      <app-gestor-eliminar-tipo-tarefa></app-gestor-eliminar-tipo-tarefa>
    }
    @if (actualPage === "Criar tarefa") {
      <app-gestor-criar-tarefa></app-gestor-criar-tarefa>
    }
    @if (actualPage === "Editar tarefa") {
      <app-gestor-editar-tarefa></app-gestor-editar-tarefa>
    }
    @if (actualPage === "Eliminar tarefa") {
      <app-gestor-eliminar-tarefa></app-gestor-eliminar-tarefa>
    }
  </div>
</ion-content>