<ion-content [fullscreen]="false" class="ion-padding">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      @for (action of actionsDireita; track action) {
      <ion-fab-button (click)="handleAction(action.text)" [title]="action.text">
        <ion-icon [ios]="action.icon + '-outline'" [md]="action.icon + '-sharp'">{{ action.text }}</ion-icon>
      </ion-fab-button>
      }
    </ion-fab-list>
    <ion-fab-list side="top">
      @for (action of actionsCima; track action) {
      <ion-fab-button (click)="handleAction(action.text)" [title]="action.text">
        <ion-icon [ios]="action.icon + '-outline'" [md]="action.icon + '-sharp'">{{ action.text }}</ion-icon>
      </ion-fab-button>
      }
    </ion-fab-list>
  </ion-fab>
</ion-content>