@if (loading$ | async){
  <app-loading></app-loading>
}
@else{
<h2 class="mb-4 text-center">Eliminar Programador</h2>
  <ion-grid>
    <ion-row class="fw-bold border-bottom">
      <ion-col class="text-center">Nome</ion-col>
      <ion-col class="text-center">Departamento</ion-col>
      <ion-col class="text-center"></ion-col>
    </ion-row>

    @for (item of users; track $index) {
    <ion-row class="ion-align-items-center">
      <ion-col class="text-center">{{item.nome}}</ion-col>
      <ion-col class="text-center">{{item.nivelExperiencia}}</ion-col>
      <ion-col class="text-center">
        <ion-button color="danger" (click)="setOpen(item)">
          Eliminar
        </ion-button>
      </ion-col>
    </ion-row>
    }
  </ion-grid>

  <ion-modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Eliminar Gestor</ion-title>          
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        <div class="ion-padding-bottom">
          <h2 class="ion-text-center ion-margin-bottom" style="font-weight: bold;">Tem a certeza que deseja eliminar este gestor?</h2>
          <br>
          @if (userToDelete){
          <ion-list>
              <ion-item>
                <ion-input label="ID: " placeholder="{{userToDelete.idUser}}" disabled="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Email: " placeholder="{{userToDelete.email}}" disabled="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Nome: " placeholder="{{userToDelete.nome}}" disabled="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Departamento: " placeholder="{{userToDelete.nivelExperiencia}}" disabled="true"></ion-input>
              </ion-item>
          </ion-list>
          }
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="danger" (click)="confirm()">Eliminar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-alert
    [header]="alertInfo[0]"
    [message]="alertInfo[1]"
    [buttons]="alertButtons"
    [isOpen]="isAlertOpen"
    (didDismiss)="isAlertOpen = false"
  ></ion-alert>
}